{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                    {% endfor %}
                    {% endif %}
        {% csrf_token %}
         {% with WIDGET_ERROR_CLASS='is-invalid' %}
                  <div class="form-group">
                      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                      {% render_field form.email|add_class:'form-control'|add_error_class:"is-invalid" %}
                      <div class="invalid-feedback">
                          {{ form.email.errors }}
                      </div>
                  </div>
        {% endwith %}
        <input type="submit"class="btn btn-lg btn-block btn-primary mb-3" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
