{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                        {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                    {% endfor %}
                    {% endif %}
                {% csrf_token %}
                         {% with WIDGET_ERROR_CLASS='is-invalid' %}
                              <div class="form-group">
                                  <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                                  {% render_field form.password1|add_class:'form-control'|add_error_class:"is-invalid" %}
                                  <div class="invalid-feedback">
                                      {{ form.password1.errors }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                                  {% render_field form.password2|add_class:'form-control'|add_error_class:"is-invalid" %}
                                  <div class="invalid-feedback">
                                      {{ form.password2.errors }}
                                  </div>
                              </div>
                        {% endwith %}
                <input type="submit" class="btn btn-lg btn-block btn-primary mb-3" name="action" value="{% trans 'Change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
