{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% if messages %}
        {% for message in messages %}
          <div class="alert alert-light alert-dismissible fade show" role="alert">
              {{message}}
          </div>
        {% endfor %}
    {% endif %}


{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="invalid-feedback">
{{ error  }}
</div>
{% endfor %}
{% endfor %}

{% endif %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
{% endwith %}
<div class="form-group">
    <label for="{{ form.oldpassword.id_for_label }}">{{ form.oldpassword.label }}</label>
    {% render_field form.oldpassword|add_class:'form-control'|add_error_class:"is-invalid" %}
    <div class="invalid-feedback">
        {{ form.oldpassword.errors }}
    </div>
</div>

<div class="form-group">
    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
    {% render_field form.password1|add_class:'form-control'|add_error_class:"is-invalid" %}
    <div class="invalid-feedback">
        {{ form.password1.errors }}
    </div>
</div>

<div class="form-group">
    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
    {% render_field form.password2|add_class:'form-control'|add_error_class:"is-invalid" %}
    <div class="invalid-feedback">
        {{ form.password2.errors }}
    </div>
</div>

        <button class="btn btn-lg btn-block btn-primary mb-3" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
