algoliasearch==2.2.0
aniso8601==7.0.0
asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
awsebcli==3.18.0
beautifulsoup4==4.8.1
boto3==1.11.15
botocore==1.15.41
cement==2.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
Django==3.0
django-filter==2.2.0
django-graphql-jwt==0.3.1
djangorestframework==3.10.3
docutils==0.15.2
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
et-xmlfile==1.0.1
future==0.16.0
graphene==2.1.8
graphene-django==2.10.0
graphql-core==2.3.1
graphql-relay==2.0.1
gunicorn==20.0.4
idna==2.7
isort==4.3.21
jdcal==1.4.1
jmespath==0.9.4
jwcrypto==0.6.0
KalturaApiClient==15.14.0
lazy-object-proxy==1.4.3
lxml==4.4.1
mccabe==0.6.1
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.1
pathspec==0.5.9
Pillow==7.1.2
promise==2.3
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pylint==2.4.4
pyperclip==1.7.0
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.3
pywin32==227
PyYAML==5.3.1
requests==2.20.1
requests-toolbelt==0.9.1
Rx==1.6.1
s3transfer==0.3.3
selenium==3.141.0
semantic-version==2.5.0
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
virtualenv==16.7.7
wcwidth==0.1.9
wrapt==1.11.2
