{% extends 'pages/_base.html' %}

{% block content %}
<div class="header mt-md-2">
    <div class="header-body">

      <!-- Title -->
      <h1 class="header-title">
         {{ user.profile.warehouse }} Products
      </h1>

      <!-- Subtitle -->
      <p class="header-subtitle">
         {{ user }}
      </p>

    </div>
  </div>

  <div class="table-responsive" data-toggle="lists" data-options='{"valueNames": ["tables-row", "tables-name", "tables-quantity",
  "tables-sku", "tables-delete", "tables-edit"]}'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-row">#</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-name">Customer</a>
          </th>
          <th scope="col">
              <a href="#" class="text-muted sort" data-sort="tables-quantity">Product</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted sort" data-sort="tables-sku">Quantity</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Destination</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Delete</a>
          </th>
          <th scope="col">
            <a href="#" class="text-muted" >Update</a>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        {% for shipment in shipments %}
        <tr>
          <th scope="row" class="tables-row">{{ shipment.id }}</th>
          <td class="tables-first">{{ shipment.customer }}</td>
            <td class="tables-first">{{ shipment.product }}</td>
          <td class="tables-last">{{ shipment.quantity }}</td>
          <td class="tables-handle">{{ shipment.destination }}</td>
          <td class="tables-handle text-center"><a href="{% url 'delete-shipment' shipment.id %}"><i class="fe fe-trash"></i></a></td>
          <td class="tables-handle text-center"><a href="{% url 'edit-shipment' shipment.id %}"><i class="fe fe-edit-2"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    
        
{% endblock content %}